@charset "utf-8";

@import "compass/reset";

// 详情页
.curLct {
    width: 1190px;
    margin: 3px auto;
    font-size: 12px;

    a {
        color: #333;
        display: inline-block;
        line-height: 60px;
        height: 60px;
    }
}

<<<<<<< HEAD

=======
>>>>>>> eed017b2ef64547132f9e6f84d907915e5dcf423
.goods-wrapper {
    padding: 44px 0 60px;
    width: 1190px;
    margin: 0 auto;
    position: relative;
<<<<<<< HEAD

    .goodsblank {
        height: 605px;
        float: left;
        width: 605px;
        background: pink;
        position: relative;

        .goodsPic {
            width: 482px;
            height: 438px;
            position: absolute;
            left: 114px;
            padding-bottom: 41px;
            background: green;
        }
    }

    #spec-list {
        position: absolute;
        top: 0;
        left: 0;

        .list-li {
            width: 75px;
            padding-top: 5px;

            img {
                padding: 2px;
                border: 1px solid #ddd;
                width: 60px;
                height: 60px;
                border: 1px solid red;

                // 要删掉
           
            }
        }
    }

    .zoomdiv {
        width: 470px;
        height: 440px;
        display: block;
        z-index: 100;
        position: absolute;
        left: 130px;
        top: 524px;
        margin-left: 500px;
        margin-top: -480px;
    //    background: #fff;
        border: 1px solid #000;
        overflow: hidden;
        font-size: 0;
    }

    .shopping-container {
        font-size: 12px;
        float: left;
        padding-left: 44px;
        color: #333;
        font-family: 'Microsoft YaHei';
        width: 528px;
        border: 1px solid red;
=======
    background: green;

    .goodsPic, .shopping-container {
        float: left;
    }

    .goodsPic {
        width: 482px;
        height: 438px;
        position: relative;
        left: 114px;
        padding-bottom: 41px;
        overflow: hidden;

        img {
            width: 480px;
            height: 480px;
            display: block;
        }

        .sf {
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            height: 100px;
            background: palevioletred;
        }
    }

    

    .goodsblank {
        height: 605px;
        float: left;
        width: 605px;
        background: pink;
    }

    .shopping-container {
        float: left;
        padding-left: 57px;
        color: #333;
        font-family: 'Microsoft YaHei';
        width: 528px;
>>>>>>> eed017b2ef64547132f9e6f84d907915e5dcf423

        .brand-logo {
            width: 142px;
            height: 72px;
            line-height: 72px;
            border: 1px solid #f6f6f6;
            text-align: center;
<<<<<<< HEAD
            border: 1px solid red;

            a {
                display: block;

                img {
=======

            a {
                display: block;
                width: 100%;
                height: 100%;

                .brand-logo-img {
>>>>>>> eed017b2ef64547132f9e6f84d907915e5dcf423
                    padding: 10px 0;
                }
            }
        }

<<<<<<< HEAD
        h1 {
            font-size: 16px;
            margin-top: 25px;
            font-weight: normal;
        }

        .price {
            margin-top: 40px;
            font-family: 'Microsoft YaHei';
            text-align: left;

            i {
                font-size: 30px;
            }
        }

        .summary-line {
            margin-top: 40px;
            height: 0;
            overflow: hidden;
            border-bottom: 1px dotted #a7a7a7;
            margin-bottom: 15px;
        }

        .buy > .color {
            margin-top: 20px;
            font-size: 12px;

            span {
                display: inline-block;
                vertical-align: top;
            }

            .prodSpec {
                display: inline-block;
                width: 400px;
                margin-left: 2px;

                a {
                    display: inline-block;
                    margin-bottom: 5px;
                    padding: 1px;
                    margin-left: 8px;
                    border: 1px solid #ddd;
                    position: relative;
                    width: 40px;
                    height: 40px;
                }
                //?????js实现点了他加上黑色边框
                // a:hover{
                //     border: 1px solid #000;
                // }
            }
        }
    }

    .size {
        margin-top: 35px;

        span {
            display: inline-block;
            vertical-align: top;
        }

        .prodSpe {
            margin-left: 10px;
            width: 320px;

            a {
                border: 1px solid #ccc;
                min-width: 40px;
                width: 40px;
                overflow: visible;
                height: 20px;
                line-height: 20px;
                padding: 0 4px 0 4px;
                margin-bottom: 10px;
                display: inline-block;
                background: #fff;
                margin-right: 8px;
                text-align: center;
                cursor: pointer;
            }
            //?????js实现点了他加上黑色边框
            // a:hover{
            //     border: 1px solid #000;
            // }
        }
    }

    .count {
        margin-top: 25px;

        span {
            height: 30px;
            line-height: 30px;
            margin-right: 10px;
            display: inline-block;
        }

        input {
            width: 60px;
            height: 30px;
            font-size: 14px;
            color: #666;
        }
    }

    .add-cart {
        margin-top: 30px;

        li {
            float: left;

            a {
                display: inline-block;
                margin-right: 20px;
                width: 222px;
                height: 46px;
                line-height: 46px;
                font-size: 20px;
                color: #fff;
                background: #333;
                text-align: center;
            }
            // 用js实现
           /*  a:active{
                color: #fff;
                background: #333;
            } 
            a{
                 color: #fff;
                background: #333;
            }
            */
        }
=======
        h1 {}
>>>>>>> eed017b2ef64547132f9e6f84d907915e5dcf423
    }
}
